body {
    background-color: brown;
}

h1 {
    font-size: 20;
    color: azure;
    font-style: italic;
}

form {
    color: azure;
}

div{
    border: 2px;
    border-style: solid;
    color:azure
    
}
